:root{
    --primary-color:rgba(16, 14, 29, 1);
    --secondary-color:rgba(30, 33, 58, 1);
    --color-gray:rgba(255, 255, 255, 0.2);
    --color-ligth-gray:rgba(110, 112, 122, 1);
    --color-white:white;
    --color-blue:rgba(60, 71, 233, 1);
   
}
html,body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--primary-color);
   font:'Raleway', sans-serif;;
}
div>div>.sidebar{
    background-color: var(--secondary-color);
    margin: 0;
    min-height: 100vh;
    overflow-y: auto;
    overflow: hidden;
    padding: 0;
}
.bg-container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  
   
}
.bg-container img{
  margin: 2rem;
  width: 50%;
  padding: 1rem;
   
}
.bg-container>.weather-info>h4{
   color: white;
   font-weight: 500;
   font-size: 90px;
   font-weight: 400;
}
.bg-container>.weather-info>h4>span{

    color: rgb(161, 161, 161);
    font-size: 48px;
    line-height: 56px;
    font-weight:400;
}
.bg-container> .weather-info p{
    color: rgba(160, 159, 177, 1);
    font-size:36px;
    font-weight: 600;
}
.bg-container>.weather-info>.current-date-info p{
    font-weight: 500;
    font-size: 18px;
    line-height: 21.13px;
}
   

.bg-clouds{
    opacity: 0.1;
    width: 100%;
    height: 100%;
    background-image: url('./assets/Cloud-background.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.5rem;
}
.btn-search{
    background-color: var(--color-ligth-gray);
    border: none;
    color:var(--color-white);
    outline: none;
    padding: 0.6rem;
}

/* Searcher */
.searcher{
    display: flex;
    flex-flow: row wrap;
}
.searcher__item{
    width: 70%;
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-ligth-gray);
    background-color: var(--secondary-color);

    
}
.searcher__item .searcher__input{
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    color: var(--color-white);
}
.searcher__input::placeholder{
    color: var(--color-gray);
}
.searcher .searcher__button{
    color: white;
    background-color: var(--color-blue);
    outline: none;
    border: none;
}
.box-container{
    padding: 0.4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center; 
}
.box-container button{
    background-color: rgba(30, 33, 58, 1);
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
    font-style: normal;
}
.box-container:hover{
    outline: none;
    border: 1px solid #616475;
    transition: color 0.5s ease-in-out;
}

div .btn-gps{
    background-color: var(--color-gray);
    border: none;
    border-radius: 100%;
    padding: 10px;
}

.cards-forecast{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

.card-forecast__item{
    align-items: center;
    background-color: var(--secondary-color);
    display: flex;
    flex-flow: column wrap;
    font-weight: bold;
    justify-content: space-around;
    margin: 1rem;
    padding: 1.8rem;
    width: 39%;
    color: #E7E7EB;;
  
    

}
@media (min-width: 768px) {
    .card-forecast__item{
        color: #E7E7EB;
        margin: 1rem; 
        padding: 1rem;
        width: 15%;
      }
    
}


.card-forecast__item img{
   width: 100%;
   object-fit: contain;
   
}
.card-forecast__item .card-forecast--degress{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around
    
}
@media (min-width: 768px) {
    .card-forecast__item .card-forecast--degress{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    } 
}
.card-forecast__item .card-forecast--degress span{
    line-height: 18.78px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-style: normal;
}

.cards-highlights{ 
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin:10px;
}
.card-highlight{
    align-items: center;
    background-color: var(--secondary-color);
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 90%;
   margin: 1rem;
   padding: 2rem;

}
@media (min-width: 768px) {
    .cards-highlights{ 
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin:10px;
    }
    .card-highlight{
        align-items: center;
        background-color: var(--secondary-color);
        display: flex;
        flex-flow: column wrap;
        flex: 0 0 35%;
        margin: 1rem;
        padding: 1rem;
    
    }
}



/* Material Icons */
.material-icons.md-light{
    color: var(--color-white);
}
.footer{
    text-align: center;
    color: white;
    font-size: 1.8rem;
}
.footer>small>.footer__link{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}


